version: 2
jobs:
  build:
    docker:
      - image: sebvaucher/sgx-base:sgx_2.5

    working_directory: ~/my-app

    environment:
      CIRCLE_WORKING_DIRECTORY=~/my-app

    steps:
      - checkout

      - run:
          name: copy sample
          command: |
            cp -r /opt/intel/sgxsdk/SampleCode/SampleEnclave .

      - run:
          name: copy makefile
          command: |
            cp Makefile SampleEnclave/

      - run:
          name: build
          command: |
            cd SampleEnclave && make mrenclave